@import "./style_common/variables.scss";

html {
  min-height: 100%;
  position: relative;
}

.app {
  background-color: $background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: $main-container-background;
  padding: 0;
  border-radius: 15px;
  @media (min-width: $break-large) {
    width: $break-large;
  }
  @media (max-width: $break-large - 1) {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

h1 {
  margin: 0;
  padding: 30px;
  text-align: center;
  @media (min-width: $break-mid) {
    font-size: $h1-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h1-small-screen;
  }
}
