@import "./style_common/variables.scss";

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Open Sans", sans-serif;
  color: $main-font-color;
  background-color: $background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.app-with-navbar {
  padding-top: 70px;
  padding-bottom: 30px;
}

// the main container is styled differently depending on the current "activity"
.main-container {
  margin: auto;
  background-color: $main-container-background;
  padding: 0;
  height: 100%;
}

.main-container-as-menu {
  border-radius: 15px;
  @media (min-width: $break-large) {
    margin-top: 30px;
    width: $break-large;
  }
  @media (max-width: $break-large - 1) {
    width: 100%;
    padding-bottom: 30px;
    border-radius: 0;
    margin: 0;
  }
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  @media (min-width: $break-mid) {
    font-size: $h1-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h1-small-screen;
  }
}

//general button and input styling
//disable outline on focus
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

//remove dotted outline on button click
button::-moz-focus-outer {
  outline: none;
}

button {
  &:hover {
    cursor: pointer;
    outline: none;
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
  -moz-appearance: none;
  -webkit-appearance: none;
  //prevents shifting on click
  margin: 0;
  padding: 0;
}

input:hover,
input:focus,
input:hover:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  color: $main-font-color;
  &:hover {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    color: inherit;
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  //prevents shifting on click
  margin: 0;
  padding: 0;
}

//remove dotted outline on button click
a::-moz-focus-outer {
  outline: none;
}
