@import "./style_common/variables.scss";

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  background-color: $background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.app-with-navbar {
  padding-top: 70px;
  padding-bottom: 30px;
}

// the main container is styled differently depending on the current "activity"
.main-container {
  margin: auto;
  background-color: $main-container-background;
  padding: 0;
  height: 100%;
}

.main-container-as-menu {
  margin-top: 30px;
  border-radius: 15px;
  @media (min-width: $break-large) {
    width: $break-large;
  }
  @media (max-width: $break-large - 1) {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

h1 {
  margin: 0;
  padding: 30px;
  text-align: center;
  @media (min-width: $break-mid) {
    font-size: $h1-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h1-small-screen;
  }
}

//general button and input styling
button:hover,
button:focus,
button:hover:focus {
  outline: none;
}

input:hover,
input:focus,
input:hover:focus {
  outline: none;
}

//remove dotted outline on button click
button::-moz-focus-inner {
  border: 0;
}
