@import "../../style_common/variables.scss";
@import "../../style_common/layouts.scss";

.curriculum {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
}

/* ---------------------------      main container        ------------------ */
.themeCards {
  @extend .cardContainer;
}

/* --------------------------     each card          ----------------------- */
.themeCard {
  @extend .card;
  &:hover {
    transform: scale(1.1);
  }
  @media (min-width: $break-mid-horizontal) {
    width: 180px;
    height: 230px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    width: 150px;
    height: 200px;
  }
}

/* -----------------------------      card title    ---------------------- */
.themeTitle {
  @extend .cardTitle;
}

/*   ------------------------      achievements   ----------------------- */
.cardLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (min-width: $break-mid-horizontal) {
    margin-top: 8px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    margin-top: 5px;
  }
}

.cardNumbers {
  margin-left: 10px;
  font-weight: 600;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h2-large-screen;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $h2-mid-screen;
  }
}

.assignments {
  color: $active;
}

.greenLessonsIcon {
  color: $correct;
}

.goldLessonsIcon {
  color: $gold;
}
