@import "../../style_common/variables.scss";

.main-container-as-exercise {
  width: 100%;
}

//exercise container
.exercise {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

//lesson title and close cross
.titleAndCross {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  @media (min-width: $break-mid) {
    height: 100px;
    grid-template-columns: 72px 1fr;
  }
  @media (max-width: $break-mid) {
    font-size: 50px !important;
    grid-template-columns: 36px 1fr;
  }
}
.exerciseTitle {
  padding: 0;

  margin-left: -72px;
  justify-self: center;
  vertical-align: baseline;
  @media (min-width: $break-mid) {
    font-size: 72px;
    margin-top: -6px; //vertical alignment with close cross due to font type
  }
  @media (max-width: $break-mid) {
    font-size: 36px !important;
  }
}

.close {
  color: $wrong-light;
  padding-left: 20px;
  @media (min-width: $break-mid) {
    font-size: 72px;
  }
  @media (max-width: $break-mid) {
    font-size: 36px !important;
  }
}

//words, instructions and input grouped in .exercise_container
.exercise_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0 15px 0 15px;
}

.exercise_container_french {
  @media (min-width: $break-mid) {
    width: 510px;
  }
  @media (max-width: $break-mid) {
    width: 370px;
  }
  @media (max-width: $break-small) {
    width: 300px;
  }
}

.exercise_container_english {
  @media (min-width: $break-mid) {
    width: 580px;
  }
  @media (max-width: $break-mid) {
    width: 430px;
  }
  @media (max-width: $break-small) {
    width: 330px;
  }
}

.instructions {
  align-self: flex-start;
  font-weight: 700;
  width: auto;
  @media (min-width: $break-mid) {
    font-size: $instructions-large;
  }
  @media (max-width: $break-mid) {
    font-size: $instructions-mid;
  }
  @media (max-width: $break-small) {
    font-size: $instructions-small;
  }
}

.originWord {
  font-weight: 400;
  text-align: center;
  margin-top: 45px;
  color: black;
  @media (min-width: $break-mid) {
    font-size: $h2-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h2-mid-screen;
  }
  @media (max-width: $break-small) {
    font-size: $h2-small-screen;
  }
}

//user translation input
input {
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3.5px solid $inactive-exercise;
  height: 25px;
  @media (min-width: $break-mid) {
    font-size: $h2-large-screen;
    padding-bottom: 7px;
    width: 450px;
  }
  @media (max-width: $break-mid) {
    font-size: $h2-small-screen;
    padding-bottom: 3px;
    width: 350px;
  }
  @media (max-width: $break-small) {
    width: 260px;
  }
}

.input-active {
  color: $inactive-exercise;
  background-color: inherit;
  &:focus {
    color: $active-exercise;
    border-color: $active-exercise;
  }
}

.input-correct {
  color: $correct;
  font-weight: bold;
  border-bottom-color: $correct;
}

.input-wrong {
  color: $wrong;
  font-weight: bold;
}

//next or check button
.exercise-button {
  text-align: center;
  align-self: center;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border-width: 0;
  color: white;
  @media (min-width: $break-mid) {
    font-size: $p-large-screen;
    margin-top: 100px;
  }
  @media (max-width: $break-mid) {
    font-size: $p-mid-screen;
    margin-top: 65px;
  }
  @media (max-width: $break-small) {
    font-size: $p-small-screen;
    margin-top: 35px;
  }
}

.button-activable {
  font-weight: 700;
  background-color: inherit;
  color: $active-exercise;
  border: 3px solid $active-exercise;
  &:hover {
    background-color: $active-exercise-light;
  }
}

.button-inactivable {
  background-color: $inactive-background;
}

.button-correct {
  font-weight: 700;
  background-color: inherit;
  color: $correct;
  border: 3px solid $correct;
  &:hover {
    background-color: $correct-light;
  }
}

.button-wrong {
  font-weight: 700;
  background-color: inherit;
  color: $wrong;
  border: 3px solid $wrong;
  &:hover {
    background-color: $wrong-light;
  }
}

//footer
.exercise-footer {
  background-color: $inactive-background;
  width: 100%;
  margin: 0;
  padding: 0;
  @media (min-width: $break-mid) {
    height: 200px;
  }
  @media (max-width: $break-mid) {
    height: 140px;
  }
  @media (max-width: $break-small) {
    height: 80px;
  }
}

.exercise-footer-correct {
  background-color: $correct-light;
  color: $correct;
}

.exercise-footer-incorrect {
  background-color: $wrong-light;
  color: $wrong;
}

//result inside the footer
.footer-content {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $break-mid) {
    font-size: $h1-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h1-mid-screen;
  }
  @media (max-width: $break-small) {
    font-size: $h1-small-screen;
  }
}

.footer-content-french {
  @media (min-width: $break-mid) {
    width: 540px;
  }
}

.footer-content-english {
  @media (min-width: $break-mid) {
    width: 610px;
  }
}

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expectedAnswer {
  margin-left: 10px;
}
