@import "../../style_common/variables.scss";

.exercise {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 15px 0 15px;
  height: 60%;
  @media (min-width: $break-mid) {
    width: 800px;
  }
  @media (max-width: $break-mid) {
    width: 500px;
  }
}

.instructions {
  text-align: left;
  font-weight: bold;
  @media (min-width: $break-mid) {
    font-size: $h2-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h2-small-screen;
  }
}

.originWord {
  text-align: left;
  margin-top: 25px;
  @media (min-width: $break-mid) {
    font-size: $h3-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h3-small-screen;
  }
}

input {
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid grey;
  height: 25px;
  padding-left: 5px;

  &:focus {
    border-color: red;
  }
  @media (min-width: $break-mid) {
    font-size: $h3-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h3-small-screen;
  }
}
