@import "../../style_common/variables.scss";
@import "../../style_common/buttons.scss";

.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $main-font-color;
}

h2 {
  color: $main-font-color;
}

/*  -------------------     main title    -----------------------   */
.homeTitle {
  font-weight: 600;
  font-family: $secondary-font;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: $break-mid-horizontal) {
    font-size: $huge-title-large;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $huge-title-mid;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
