@import "../../style_common/variables.scss";
@import "../../style_common/buttons.scss";

.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $main-font-color;
}

h2 {
  color: $main-font-color;
}

.homeSeparator {
  width: 90%;
  margin-bottom: -10px;
  height: 5px;
  color: $active;
  background-color: $active;
  border: 0;
  border-radius: 5px;
  @media (min-width: $break-mid-horizontal) {
    margin-top: 100px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    margin-top: 60px;
  }
}

.aboutButton {
  border-radius: 12px;
  &:hover {
    animation-name: blueBackground-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}
