.container {
  display: block;
  text-align: center;
}

.wordsToLearn {
  display: block;
  margin-top: 20px;
  text-align: center;
  margin: auto;
}

.twoWords {
  margin: auto;
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
}
