@import "../../style_common/variables.scss";
@import "../../style_common/buttons.scss";

.learning-container {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow-y: auto;

  @media (min-width: $break-mid) {
    font-size: $h2-large-screen;
    grid-template-columns: 76px auto;
    grid-template-rows: 130px auto auto;
    grid-template-areas:
      "arrow title"
      "words words"
      "switches switches";
  }
  @media (max-width: $break-mid) {
    font-size: $h2-mid-screen;
    grid-template-columns: auto;
    grid-template-rows: 80px 2fr 1fr 76px;
    grid-template-areas:
      "title"
      "words"
      "switches"
      "arrow";
  }
  @media (max-width: $break-small) {
    font-size: $h2-small-screen;
  }
}

// navigation arrow
.backArrow {
  grid-area: arrow;
  @media (min-width: $break-mid) {
    padding-left: 80px;
  }
}

// lesson title
.learningTitle {
  grid-area: title;
  padding: 0;
  @media (min-width: $break-mid) {
    font-size: $h1-large-screen;
    justify-self: center;
    margin-left: -50px; //compensates arrow padding
    margin-top: -8px;
  }
  @media (max-width: $break-mid) {
    font-size: $h1-mid-screen;
    margin: auto;
  }
}

//vocabulary
.wordsToLearn {
  grid-area: words;
  justify-self: start;
  display: inline-block;
  margin: auto;
  margin-bottom: 20px;
  @media (min-width: $break-mid) {
    font-size: $h3-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h3-mid-screen;
  }
  @media (max-width: $break-small) {
    font-size: $h3-small-screen;
  }
}

.twoWords {
  margin: auto;
  @media (min-width: $break-mid) {
    margin-bottom: 15px;
  }
  @media (max-width: $break-mid) {
    margin-bottom: 6px;
  }
}

//switches
.switches {
  grid-area: switches;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media (min-width: $break-mid) {
    width: 75%;
  }
  @media (max-width: $break-mid) {
    width: 85%;
  }
  @media (max-width: $break-small + 35) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

//button styling
.switch {
  @extend .blue-button;
  margin-bottom: 15px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
