@import "../../style_common/variables.scss";
@import "../../style_common/buttons.scss";
@import "../../style_common/titles.scss";

.learning-container {
  width: 100%;
  min-height: 400px;
  display: grid;
  margin: auto;
  align-items: center;
  justify-items: center;
  overflow-y: auto;

  @media (min-width: $break-mid-horizontal) {
    font-size: $h2-large;
    grid-template-columns: 76px auto;
    grid-template-rows: 123px auto 130px;
    grid-template-areas:
      "arrow title"
      "words words"
      "switches switches";
  }
  @media (max-width: $break-mid-horizontal) {
    font-size: $h2-mid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto 80px;
    grid-template-areas:
      "title"
      "words"
      "switches"
      "arrow";
  }
  @media (max-width: $break-small-horizontal) {
    font-size: $h2-small;
  }
}

// navigation arrow
.arrowLink {
  grid-area: arrow;
  display: inline;
  text-align: center; // necessary for clickable link not on margins
  @media (min-width: $break-mid-horizontal) {
    margin-left: 80px;
  }
}

.backArrow {
  display: block;
}

// lesson title
.learningTitle {
  @extend .menuTitle;
  font-family: $cursive;
  grid-area: title;
  width: auto;
  padding: 0;
  @media (min-width: $break-mid-horizontal) {
    font-size: $cursive-instructions-large;
    justify-self: center;
    margin-left: -50px; //compensates arrow padding
  }
  @media (max-width: $break-mid-horizontal) {
    font-size: $cursive-instructions-mid;
    margin: auto;
  }
}

//vocabulary
.wordsToLearn {
  width: auto;
  grid-area: words;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-large;
    margin-bottom: 10px;
  }
  @media (max-width: $break-mid-horizontal) {
    font-size: $h3-mid;
    margin-bottom: 15px;
  }
  @media (max-width: $break-small-horizontal) {
    font-size: $h3-small;
  }
}

.twoWords {
  text-align: left;
  @media (min-width: $break-mid-horizontal) {
    margin-bottom: 15px;
  }
  @media (max-width: $break-mid-horizontal) {
    margin-bottom: 6px;
  }
}

//switches
.switches {
  grid-area: switches;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $break-mid-horizontal) {
    width: 75%;
  }
  @media (max-width: $break-mid-horizontal) {
    width: 85%;
  }
  @media (max-width: $break-small-horizontal + 35) {
    width: 100%;
    height: 180px;
    min-height: 180px;
    flex-direction: column;
    align-items: center;
  }
}

//button styling
.switch {
  @extend .blue-button;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
