@import "../../style_common/variables.scss";

.navbar {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: $navbar-background;
  padding: 0;
}

.title,
.flags,
.home {
  color: $main-font-color;
  margin: 0;
  padding: 0;
  @media (min-width: $break-mid) {
    font-size: $h2-large-screen;
  }
  @media (max-width: $break-mid) {
    font-size: $h2-small-screen;
  }
}

ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $break-large) {
    width: $break-large - 40;
  }
  @media (max-width: $break-large - 1) {
    width: 100%;
  }
}

li {
  display: inline;
}
