@import "../../style_common/variables.scss";

.navbar {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  height: 70px;
  margin-top: -70px;
  background-color: $navbar-background;
  padding: 0;
}

.navbar-title,
.flags,
.home-link {
  color: $navbar-text;
  margin: 0;
  padding: 0;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h2-large-screen;
  }
  @media (max-width: $break-mid-horizontal) {
    font-size: $h2-small-screen;
  }
}

.home-link {
  margin-left: auto;
}

.navbar-title {
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $break-large-horizontal) {
    width: $break-large-horizontal - 40;
  }
  @media (max-width: $break-large-horizontal - 1) {
    width: 100%;
  }
}

li {
  display: inline;
}
