@import "../../style_common/variables.scss";
@import "../../style_common/layouts.scss";
@import "../../style_common/buttons.scss";

/*   --------------------      title and back arrow      ----------------------- */
.themeAndArrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.themePageArrow {
  @media (min-width: $break-small-horizontal) {
    margin-right: -112px; //compensates to center the title
    padding-left: 40px;
    font-size: 72px;
  }
  @media (max-width: $break-small-horizontal),
    (max-height: $break-small-vertical) {
    font-size: 48px !important;
    margin-right: -56px;
    padding-left: 10px;
  }
}

.themePageTitle {
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------      main container        ------------------ */
.lessonCards {
  @extend .cardContainer;
}

.lessonCard {
  @extend .card;
  justify-content: flex-start;
  align-items: center;
  font-family: $secondary-font;
  @media (min-width: $break-mid-horizontal) {
    width: 190px;
    height: 295px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    width: 145px;
    height: 260px;
    margin: 6px 6px 6px;
  }
}

.lessonTitle {
  @extend .cardTitle;
}

/* --------------------     start buttons      -------------------  */
.themeButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* --------------------     start exercise      -------------------  */
.startTest {
  @extend .start-button;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  background-color: $correct-light;
}

/* --------------------     learn words      -------------------  */
.startLearning {
  @extend .start-button;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  background-color: $active-light;
  &:hover {
    margin-top: -2px;
  }
}

.startButtonTitle {
  align-self: center;
  padding-left: 5px;
  width: 100%;
}

/* ---------------------    progress circles   --------------------- */

.circleContainer {
  margin-bottom: 10px;
}

.greyCircle {
  stroke-width: 14;
  fill: transparent;
  stroke: $inactive-lightest;
}

.progressCircle {
  stroke-dasharray: 251.5px;
  stroke-width: 13;
  fill: transparent;
  stroke-linecap: round;
  animation: progressAnimation 1000ms ease forwards;
}

.greenStroke {
  stroke: $correct;
}

.blueStroke {
  stroke: $active;
}

.goldStroke {
  stroke: $gold;
  stroke-width: 14;
}

@keyframes progressAnimation {
  0% {
    stroke-dashoffset: 251px;
    opacity: 0.4;
  }
}

/*  ----------------------------------   progress percentage or star    ---------   */
.circleStats {
  position: relative;
  text-align: center;
  height: 0;
  width: 100%;
  opacity: 0;
  animation: progressPercentageFadeIn 800ms ease 450ms forwards;
}

.progressPercentage {
  font-weight: 600;
  font-family: $main-font;
  @media (min-width: $break-mid-horizontal) {
    font-size: $p-large;
    top: -78px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $p-mid;
    top: -76px;
  }
}

.goldStar {
  color: $gold;
  @media (min-width: $break-mid-horizontal) {
    top: -95px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    top: -94px;
  }
}

@keyframes progressPercentageFadeIn {
  100% {
    opacity: 1;
  }
}
