
/*  ----------------------------------   progress percentage or star    ---------   */
.circleStats {
  position: relative;
  text-align: center;
  height: 0;
  width: 100%;
  opacity: 0;
  animation: progressPercentageFadeIn 800ms ease 450ms forwards;
}


.goldStar {
  color: "white";

}

@keyframes progressPercentageFadeIn {
  100% {
    opacity: 1;
  }
}
