@import "./variables.scss";

//main button styling
.blue-button {
  text-align: center;
  font-family: $main-font;
  font-weight: 600;
  border-radius: 50px;
  border: 2.5px solid $active;
  background-color: inherit;
  color: $active;
  &:hover {
    background-color: $active-light;
  }
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-large;
    width: 170px;
    height: 55px;
    min-height: 55px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $h3-mid;
    width: 140px;
    height: 45px;
    min-height: 45px;
  }
}

.auth-button {
  text-align: center;
  font-weight: normal;
  border-radius: 12px;
  border: 3px solid;
  background-color: inherit;
  padding: 0;
  height: 55px;
  margin: auto;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-large;
    width: 380px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $h3-mid;
    width: 310px;
  }
}

.start-button {
  border-radius: 10px;
  border: 2px solid $main-font-color;
  margin-bottom: 8px;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-large;
    width: 130px;
    height: 45px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $h3-mid;
    width: 100px;
    height: 40px;
  }
  &:hover {
    border: 3px solid $main-font-color;
    margin-top: -2px;
  }
}
