@import "./variables.scss";

//main button styling
.blue-button {
  text-align: center;
  font-family: $main-font;
  font-weight: 600;
  border-radius: 50px;
  border: 2.5px solid $active;
  background-color: inherit;
  color: $active;
  &:hover {
    background-color: $active-light;
  }
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-large;
    width: 170px;
    height: 55px;
    min-height: 55px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $h3-mid;
    width: 140px;
    height: 45px;
    min-height: 45px;
  }
}

.auth-button {
  text-align: center;
  font-weight: normal;
  border-radius: 12px;
  border: 3px solid;
  background-color: inherit;
  padding: 0;
  height: 55px;
  margin: auto;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-large;
    width: 400px;
  }
  @media (max-width: $break-mid-horizontal) {
    font-size: $h3-mid;
    width: 320px;
  }
}

.start-button {
  border-radius: 10px;
  border: 2px solid $main-font-color;
  margin-bottom: 8px;
  font-weight: bold;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h3-mid;
    width: 135px;
    height: 45px;
  }
  @media (max-width: $break-mid-horizontal), (max-height: $break-mid-vertical) {
    font-size: $h3-small;
    width: 95px;
    height: 35px;
  }
  &:hover {
    border: 3px solid $main-font-color;
    margin-top: -2px;
  }
}

.weak_words_button {
  display: block;
  flex-shrink: 0;
  text-align: center;
  border: 3px solid $correct;
  border-radius: 12px;
  background-color: $correct-light;
  margin: 0 auto 30px auto;
  height: 55px;
  @media (min-width: $break-mid-horizontal) {
    font-size: $h2-mid;
    width: 320px;
  }
  @media (max-width: $break-mid-horizontal) {
    font-size: $h2-small;
    width: 260px;
  }

  &:hover {
    &:hover {
      animation-name: greenBackground-hover;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }
}

/*   ------------------     hover animations   ----------------------- */
@keyframes blueBackground-hover {
  100% {
    color: white;
    background-color: $active;
    border-color: black;
  }
}

@keyframes redBackground-hover {
  100% {
    color: white;
    background-color: $wrong;
    border-color: black;
  }
}

@keyframes greenBackground-hover {
  100% {
    color: white;
    background-color: $correct;
    border-color: black;
  }
}
