//main button styling
.blue-button {
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  border: 3px solid $active;
  background-color: inherit;
  color: $active;
  &:hover {
    background-color: $active-light;
  }
  @media (min-width: $break-mid) {
    font-size: $h3-large-screen;
    width: 160px;
    height: 60px;
  }
  @media (max-width: $break-mid) {
    font-size: $h3-mid-screen;
    width: 130px;
    height: 45px;
  }
}

.auth-button {
  text-align: center;
  font-weight: normal;
  border-radius: 12px;
  border: 1.2px solid;
  background-color: inherit;
  padding: 0;
  height: 50px;
  margin: auto;
  @media (min-width: $break-mid) {
    font-size: $p-large-screen;
    width: 330px;
  }
  @media (max-width: $break-mid) {
    font-size: $p-mid-screen;
    width: 270px;
  }
}
