//break points
$break-large: 1024px;
$break-mid: 820px;
$break-small: 460px;

$break-height-large: 800px;
$break-height-mid: 600px;
$break-height-small: 400px;

//font-sizes
$h1-large-screen: 36px;
$h2-large-screen: 28px;
$h3-large-screen: 24px;
$p-large-screen: 20px;

$h1-mid-screen: 28px;
$h2-mid-screen: 24px;
$h3-mid-screen: 20px;
$p-mid-screen: 18px;

$h1-small-screen: 24px;
$h2-small-screen: 20px;
$h3-small-screen: 16px;
$p-small-screen: 14px;

$instructions-large: 38px;
$instructions-mid: 28px;
$instructions-small: 22px;

//colors
$background-color: #e5e5e5;
$main-container-background: #fffffc;
$navbar-background: rgba(0, 80, 255, 0.8);

$main-font-color: #404040;
$navbar-text: white;

$active-exercise: rgba(0, 80, 255, 0.8);
$active-exercise-light: rgba(0, 165, 255, 0.3);

$inactive-exercise: #818e96;
$inactive-background: #b3b8bb;

$correct: #1aab00;
$correct-light: rgba(175, 255, 125, 0.7);

$wrong: rgba(250, 50, 50, 1);
$wrong-light: rgba(250, 50, 50, 0.3);
