//break points
$break-large: 1024px;
$break-mid: 820px;
$break-small: 460px;

$break-height-large: 800px;
$break-height-mid: 600px;
$break-height-small: 400px;

//font-sizes
$h1-large-screen: 36px;
$h2-large-screen: 28px;
$h3-large-screen: 24px;
$p-large-screen: 18px;

$h1-mid-screen: 28px;
$h2-mid-screen: 24px;
$h3-mid-screen: 20px;
$p-mid-screen: 16px;

$h1-small-screen: 24px;
$h2-small-screen: 20px;
$h3-small-screen: 16px;
$p-small-screen: 12px;

$instructions-large: 38px;
$instructions-mid: 28px;
$instructions-small: 22px;

$score-large: 42px;
$score-mid: 32px;
$score-small: 24px;

//colors
$main-background-color: rgba(229, 229, 229, 0.9);
$main-container-background: rgba(250, 250, 250, 1);
$navbar-background: rgba(0, 80, 255, 0.8);

$main-font-color: #404040;
$navbar-text: white;

$active: rgba(0, 80, 255, 0.8);
$active-light: rgba(0, 165, 255, 0.3);

$inactive: #818e96;
$inactive-light: #b3b8bb;

$correct: #1aab00;
$correct-light: rgba(175, 255, 125, 0.7);

$warning: rgba(255, 97, 0, 1);
$warning-light: rgba(255, 97, 0, 0.3);

$wrong: rgba(255, 50, 50, 1);
$wrong-light: rgba(255, 50, 50, 0.3);
