//break points
$break-large: 1024px;
$break-mid: 820px;
$break-small: 460px;

$break-height-large: 800px;
$break-height-mid: 600px;
$break-height-small: 400px;

//font-sizes
$h1-large-screen: 36px;
$h2-large-screen: 28px;
$h3-large-screen: 24px;
$p-large-screen: 18px;

$h1-small-screen: 28px;
$h2-small-screen: 24px;
$h3-small-screen: 20px;
$p-small-screen: 14px;

$instructions-large: 40px;
$instructions-small: 30px;

//colors
$background-color: #e5e5e5;
$main-container-background: #fffffc;
$navbar-background: #5662bd;

$main-font-color: #404040;
$navbar-text: white;

$active-exercise-color: #5662bd;
$inactive-exercise-color: #818e96;

$activable: green;
$correct-answer: palegreen;
$wrong-answer: red;
